
* {
    text-decoration: none !important;
    list-style: none !important;
}
body {
    background-color: #F5F5F5 !important;
}
/*****************************************start navbar******************************************************* */

.navbar {
    background-color: #000000a9 !important;
  
}
.navbar a {
    color: #ffffff !important;
    
}
.dropdown-menu a {
    color: #000 !important;
    font-weight: 400;
}

.navbar ul li a {
    color: #333;
    position: relative;
   
}


.navbar .ddd {
    left: 105%;
    top: 0;
    text-align: center;
    display: none !important;

}

.navbar .pad:hover .ddd {
    display: block !important;
}
.navbar .dropdown-menu a:hover {
    color: #0062D3 !important;
}
.navbar .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 100%;
   
    transition: .5s;

}
.navbar .icon {
    color: fff !important;
}

   




/* *****************************************home**********************************************************/
#home {
    background:  linear-gradient(#00000057,#00000057) , url('../img/hero-bg.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-position: center;
}
#home .capation {
    margin: auto;
}
#home h1 {
    font-size: 50px !important;
    font-weight: 400;
    position: relative;
}
#typed {
    font-size: 35px;
    padding-top: 10px;
    font-weight: 300;
    color: #fff;

}
/* h1::after {

    content: ' |';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    animation-name: typing;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 300


} */
/* @keyframes typing {
    0% {
        content: ' |';
    }
    2.5% {
        content: ' P|';
    }
    4.5% {
        content: ' Ph|';
    }
    6.5% {
        content: ' Pho|';
    }
    8.5% {
        content: ' phot|';
    }
    10.0% {
        content: ' photo|';
    }
    12.5% {
        content: ' Photog|';
    }
    14.5% {
        content: ' photogr|';
    }
    16.5% {
        content: '  photogra|';
    }
    18.5% {
        content: '  photograp|';
    }
    20.5% {
        content: '  photograph|';
    }
    22.5% {
        content: '  photographe|';
    }
    24.5% {
        content: '  photographer|';
    }
    26.5% {
        content: '  photographe|';
    }
    28.5% {
        content: '  photograph|';
    }
    30.5% {
        content: '  photograp|';
    }
    32.5% {
        content: '  photogra|';
    }
    34.5% {
        content: '  photogra|';
    }
    36.5% {
        content: '  photogr|';
    }
    38.5% {
        content: '  photog|';
    }
    40.5% {
        content: '  photo|';
    }
    42.5% {
        content: '  phot|';
    }
    44.5% {
        content: '  pho|';
    }
    46.5% {
        content: '  ph|';
    }
    48.5% {
        content: '  p|';
    }
    50.5% {
        content: '  F|';
    }
    52.5% {
        content: '  Fr|';
    }
    54.5% {
        content: '  Fre|';
    }
    56.5% {
        content: '  Free|';
    }
    58.5% {
        content: '  Freel|';
    }
    60.5% {
        content: '  Freela|';
    }
    62.5% {
        content: '  Freelan|';
    }
    64.5% {
        content: '  Freelans|';
    }
    66.5% {
        content: '  Freelanse|';
    }
    68.5% {
        content: '  Freelanser|';
    }
    70.5% {
        content: '  Freelanse|';
    }
    72.5% {
        content: '  Freelans|';
    }
    74.5% {
        content: '  Freelan|';
    }
    76.5% {
        content: '  Freela|';
    }
    78.5% {
        content: '  Freel|';
    }
    80.5% {
        content: '  Free|';
    }
    81% {
        content: '  Fre|';
    }
    82% {
        content: '  Fr|';
    }
    83% {
        content: '  F|';
    }
    84% {
        content: '  D|';
    }
    85% {
        content: '  De|';
    }
    86% {
        content: '  Dev|';
    }
    87% {
        content: '  Deve|';
    }
    88% {
        content: '  Devel|';
    }
    89% {
        content: '  Develo|';
    }
    90% {
        content: '  Develop|';
    }
    91% {
        content: '  Develope|';
    }
    92% {
        content: '  Developer|';
    }
    93% {
        content: '  Develope|';
    }
    49% {
        content: '  Develop|';
    }
    95% {
        content: '  Develo|';
    }
    96% {
        content: '  Devel|';
    }
    97% {
        content: '  Deve|';
    }
    98% {
        content: '  Dev|';
    }
    99% {
        content: '  De|';
    }
    100% {
        content: '  D|';
    }
} */

/*****************************************about******************************************************* */


#about h5 {
    padding: 15px !important;
    font-size: 17px;


}
#about ul {
    font-size: 16px;
}
#about ul li {
    padding: 5px;
  
   
}

#about ul span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
#about .color1 {
    
    background-color: #0078FF !important;
  
   

}
#about .progress {
    height: 12px !important;
    border-radius: 0 !important;
    width: 95% !important;
}
#about .after {
    position: relative;
    font-size: 40px;
}
#about .after::after {
    content: '';
    position: absolute;
    z-index: 0;
   left: 0;
    top: 110%;


    width: 17%;
    height: 3px;
    background-color: #0078FF;
   
   
  


}
#about .container {
    padding: 70px !important;
}
#about .pad {
    margin-left: -15px !important;
    

}



/* **********************************servic************************************************* */


#services .icon {
    height: 100px;
    width: 100px;
   border: 7px solid #0078FF;
   border-radius: 50%;
   display: flex;
  align-items: center;
   justify-content: center;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   padding: 50px;
   
}
#services .card:hover .icon {
    border: 7px solid #D7E7F9;
    background-color: #0078ff;
  

}




#about .container , #services .container {
    margin-top: 70px;
}
.card {
    border: none;
}
#services h5 {
    font-size: 25px !important;
}
.empty-div {
    width: 50px;
    height: 5px;
    background-color: #0078FF;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;
}
/* <!-- ******************************************countert************************************************* --> */


#counter {
    background:  linear-gradient(#1c67c3c0,#1c67c3c0) , url('../img/counters-bg.jpg') fixed;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    margin: 60px 0 !important;
}






.counter-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
}
#counter .icon {
    height: 70px !important;
    width: 70px !important;
   border: 7px solid #CDE1F8;
   border-radius: 50%;
   display: flex;
  align-items: center;
   justify-content: center;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   padding: 30px;

}
#counter .number {
    font-size: 30px;
    padding-top: 10px;
}
#counter .word {
    font-size: 17px;
}


/* *******************************************portfolio************************************************************** */
#portfolio .card {
    position: relative;
    box-shadow: -2px -2px 5px #3333333d ;

}
#portfolio .icon {
    height: 40px !important;
    width: 40px !important;
   border: 3px solid #0078FF;
   border-radius: 50%;
   display: flex;
  align-items: center;
   justify-content: center;
   /* position: absolute;
   left: 90%;
   transform: translate(-50%); */
   padding: 10px;
   margin: 20px;
   color: #0078FF;
   
}
#portfolio span {
    color: #0078FF;
}
#portfolio .image {
    overflow: hidden;
   
}
#portfolio .image img {
    transition: 1s;
}

#portfolio .card:hover img {
    transform: scale(1.3);
}
#portfolio h3 {
    font-size: 18px;
    padding-top: 20px;
}
#portfolio p {
    font-size: 14px;
}
#portfolio .test {
    padding-left: 20px !important;
}


#portfolio .test p {
    padding-left: 10px !important;
}



/*************************************carousel***************************************** */
#carousel {
    
    background:  linear-gradient(#1c67c3c0,#1c67c3c0) , url('../img/overlay-bg.jpg') fixed;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    margin: 60px 0 !important;
    
    
   
}
#blog .card-body img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
#blog .image {
    position: relative;
}
#blog .image::after {
    content: 'TRAVEL';
    width: 80px;
    height: 30px;
    background-color: #0078FF;
    border-radius: 5px;

    position: absolute;
    top: 95%;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    color: #FFF;
    font-size: 14PX;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#blog .card-body .ancor {
    color: #1e1e1e;
    font-size: 22px;
    font-weight: 500;
   
}
#blog .card-body .ancor:hover {
   color: #0078FF;
}
#blog .card-body p {
    color: #4e4e4e;
    font-size: 16px;
}
#blog .foot .footer {
    color: #4e4e4e;
    
}
#blog .foot .footer:hover {
    color: #0078FF;
}

#blog .row {
    text-align: start !important;

}
#blog .card {
    margin-bottom: 30px;
    box-shadow: 5px 5px 4px #3333333d ;
    padding-bottom: 20px;
}
/* *************************************contact********************************************************* */


#contact {
    background:  linear-gradient(#0062d3d5 , #0062d388 ) , url('../img/overlay-bg.jpg') fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 60px 0 0 !important;
    padding: 120px 60px 0;
   
    
    
}

#contact form textarea {
    resize: none;
} 
#contact .container {
    background-color: #FFF;
    padding: 50px 30px;
}
#contact .empty {
    width: 100px;
    height: 3px;
    background-color: #0078FF;
    position: relative;
    left: .5%;
   
    margin-bottom: 50px;
}
#contact .ull li {
    border: 2px solid #0078FF;
    padding: 7px 10px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 1s;
   
   
   
}
#contact .ull li a {
    color: #000;
}
#contact .ull li:hover a {
    color: #fff;

}
#contact .ull li:hover {
    background-color: #0078FF;
}

#contact .ull {
    margin-left: -30px !important;

}
#contact .ulll li {
    margin-left: -30px !important;
    padding: 7px 0;
   
   
   

}
#contact .ulll span {
    padding-right: 10px;
    color: #0078FF;
}
#contact button {
    background-color: #0078FF;
    border: #0078FF;
    color: #fff;
    font-size:20px;
}
/* ********************************************end*****************************************************88 */
#end {
    background-color: #0062D3; 
    box-shadow: 0px -15px 10px -15px #111; 
    color: #fff;
}
#end span {
    font-weight: 700;
}











@media (max-width: 991.98px) { 
    .navbar ul li a:hover::before {
        width: 0%;
    }
    .navbar {
        color: #FFF !important;
    }
   

}



@media (max-width: 767.98px) {
    #counter .container {
        margin: 50px 0;
    }
    #home h1  {
        font-size: 25px !important;
        font-weight: 400;
    }
    #typed {
        font-size: 25px;
    }
    .container {
        padding: 10px 30px !important;
        margin: 0;
        
    }
    
  }